.wrapper {
    padding-top: 100px;
    background: url("./pinkie-background.jpg");
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
   
    align-content: flex-start;
    overflow: auto;
        padding-top: 100px;

      
  }
 